html,
body,
#app{
    height: 100%;
}

#app{
    display: grid;
    grid-template-rows: 56px 1fr 100px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    p{
        margin: 0;
    }
}

